# 포매팅 첫번째 방법

In [17]:
month = 6
day = 22
s = "오늘은 7월 7일 입니다."
print("오늘은 %d월 %d일 입니다."%(month,day))
s

오늘은 6월 22일 입니다.

'오늘은 7월 7일 입니다.'

## 포매팅 두번째 방법

In [18]:
month = 6
day = 22
s = "오늘은 7월 7일 입니다."
print("오늘은 {}월 {}일 입니다".format(month,day))

오늘은 6월 22일 입니다

### 포매팅 세번째 방법

In [4]:
month = 6
day = 22
s = f"오늘은 {month}월 {day}일 입니다."
s

'오늘은 6월 22일 입니다.'

In [21]:
x = 100
y = 200
sum2 = x+y
s= "100와 200의 합은 300입니다."
print("%d와 %d의 합은 %d입니다."%(x,y,sum2))
print("{}와 {}의 합은 {}입니다.".format(x,y,sum2))
print(f"{x}와 {y}의 합은 {x+y}입니다.")

100와 200의 합은 300입니다.
100와 200의 합은 300입니다.
100와 200의 합은 300입니다.

자주 사용하는 문자열 함수

In [9]:
# count 함수 문자열에 포함된 개수 세기
s = "오늘 점심 메뉴는 탕수육 입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다."
s.count("메뉴")

1

In [11]:
# strip 함수
s = "     오늘 메뉴는 탕수육입니다.      "
s.strip()

'오늘 메뉴는 탕수육입니다.'

In [12]:
# replace 함수
s = "오늘 점심 메뉴는 탕수육 입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다."
s.replace("탕수육","마라탕")

'오늘 점심 메뉴는 마라탕 입니다. 저는 마라탕을 매우 좋아해서 마라탕만 먹을겁니다.'

In [16]:
# split 함수
s = "오늘 점심 메뉴는 탕수육 입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다"
s.split(".")

['오늘 점심 메뉴는 탕수육 입니다', ' 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다']

In [24]:
num1 =100
num2 =10

print(num1/num2)
print(num1%num2)
print(num1//num2)

10.0
0
10

In [26]:
str1="안녕"
str2="하세요"
print(str1+str2)

안녕하세요

In [30]:
str1=10
str2="7"
print(str(str1)+str2)
print(str1+int(str2))

107
17

In [32]:
num1 =23
num2 =3

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

26
20
69
7.666666666666667

In [33]:
num=input("정수를 입력하세요>>")

정수를 입력하세요>>133

In [34]:
num

'133'

In [37]:
num=int(input("정수를 입력하세요>>"))

정수를 입력하세요>>133

In [36]:
num

133

In [39]:
num1=int(input("정수를 입력하세요>>"))
num2=int(input("정수를 입력하세요>>"))
print("더하기 결과:",num1+num2)
print("빼기 결과:",num1-num2)
print("곱하기 결과:",num1*num2)
print("나누기 결과:",num1/num2)

정수를 입력하세요>>5
정수를 입력하세요>>10
더하기 결과: 15
빼기 결과: -5
곱하기 결과: 50
나누기 결과: 0.5

In [43]:
ps=int(input("python 점수 입력>>"))
ms=int(input("머신러닝 점수 입력>>"))
ds=int(input("딥러닝 점수 입력>>"))

print("합계: {}".format(ps+ms+ds))
print("평균: {}".format((ps+ms+ds)/3))
print(sum(ps,ms,ds))

python 점수 입력>>10
머신러닝 점수 입력>>10
딥러닝 점수 입력>>10
합계: 30
평균: 10.0

TypeError: sum() takes at most 2 arguments (3 given)

In [62]:
time=int(input("시간 입력>>"))
hour=time//3600
minute=(time%3600)//60
second=time%60
print("{}시간 {}분 {}초".format(hour,minute,second))

시간 입력>>7533
2시간 5분 33초

In [63]:
time=int(input("시간 입력>>"))
hour=time//3600
minute=(time%3600)//60
second=time%3600%60
print("{}시간 {}분 {}초".format(hour,minute,second))

시간 입력>>7533
2시간 5분 33초

In [64]:
s = "x"
print(s*10)

xxxxxxxxxx

In [65]:
s = "안녕하세요"
print(s*2)

안녕하세요안녕하세요

In [67]:
print('*'*10, "연산하기", '*'*10)
num1=int(input("정수 입력>>"))
num2=int(input("정수 입력>>"))
cal=input("+연산자 입력>>")
print("{} {} {} = {}".format(num1,cal,num2,num1+num2))

********** 연산하기 **********
정수 입력>>10
정수 입력>>10
+연산자 입력>>+
10 + 10 = 20

In [73]:
num=int(input("정수 입력>>"))
power=int(input("지수 입력>>"))
print("{}의 {}t승은 {}입니다.".format(num,power,num**power))

정수 입력>>2
지수 입력>>3
2의 3t승은 8입니다.

In [74]:
a=3
b=7

print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True

In [91]:
import random
a=random.randint(1,10)
b=random.randint(1,10)

print("a:{}, b:{}".format(a,b))

print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

a:4, b:5
False
True
False
True

In [93]:
a=3
b=7
print(a<b)
print(not a<b)

True
False

In [95]:
print(a==b)
print(not a==b)

False
True

In [98]:
print(3>5 and 10==20)
print(3>5 and 10<20)
print(3<5 and 10<20)

False
False
True

In [100]:
print(3>5 or 10==20)
print(3>5 or 10<20)
print(3<5 or 10<20)

False
True
True

In [101]:
score=80
"합격" if score>=60 else "불합격"

'합격'

In [103]:
score=50
"합격" if score>=60 else "불합격"

'불합격'

In [108]:
a=int(input("정수 입력>> "))
b=int(input("정수 입력>> "))

print(f"a:{a}" if a > b else f"b:{b}")
print("a:",a) if a > b else print("b:",b)

정수 입력>> 10
정수 입력>> 3
a:10
a: 10

In [112]:
a=int(input("첫번째 정수 입력>> "))
b=int(input("두번째 정수 입력>> "))

print("두수의 차:",a-b) if a > b else print("두수의 차:",b-a)

첫번째 정수 입력>> 33
두번째 정수 입력>> 5
두수의 차: 28

In [119]:
a=int(input("정수 입력>> "))

print(f"{a}는(은) 짝수입니다.") if a%2==0 else print(f"{a}는(은) 홀수입니다.")

정수 입력>> 8
8는(은) 짝수입니다.